# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/NEdit_cpp.sdf
/NEdit_cpp.opendsdf
Release
Debug

/source/source.vcxproj.user

/util/util.vcxproj.user
/Tabs/Tabs.vcxproj.user
/MenuBar/MenuBar.vcxproj.user
/ipch/
/NEdit_cpp.opensdf
/NEdit_cpp.suo
