# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/NEdit_cpp.sdf
Release
Debug

/source/source.vcxproj.user

/util/util.vcxproj.user
