# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/NEdit.sdf
/NEdit.opensdf
/NEdit.suo
Release
Debug
/ipch/

/source/source.vcxproj.user
/source/nedit++

/util/util.vcxproj.user

/Tabs/Tabs.vcxproj.user
/MenuBar/MenuBar.vcxproj.user
/MenuBar/MenuBar

